{% extends 'base.html' %}
{% load static %}


{% block content %}
<div class="d-none modalbox" id="modalbox">
    {% include 'task/add-task.html' %}
</div>

<div class="pry-container">
    {% include 'sidebar.html' %}

    <section class="main-container">
        
        {% include 'top-nav.html' %}
        {% include 'bottom-nav.html' %}

        <div class="flex-ctr-ctr loader-container">
            <div class="loader"></div>
        </div>

        <p class="fetch-error" id="fetchError"></p>
        
        <div class="d-none tasks-container">
            <!-- Tasks Status -->
            <div class="grid three-containers-grid status-grid-container">
                <div class="flex flex-btw status-grid inprogress-bar" ondrop="drop(event)" ondragleave="dragLeave(event)" ondragenter="dragEnter(event)" ondragover="dragOver(event)" id="">
                    <div class="flex-ctr-ctr">
                        <p class="inprogress-p">In progress ({{inprogress_tasks.count}})</p>
                    </div>
                    <img src="{% static 'img/icons/icons8-menu-vertical-50.png' %}" alt="" srcset="">
                </div>

                <div class="flex flex-btw status-grid completed-bar" ondrop="drop(event)" ondragleave="dragLeave(event)" ondragenter="dragEnter(event)" ondragover="dragOver(event)">
                    <div class="flex-ctr-ctr">
                        <p class="completed-p">Completed task ({{completed_tasks.count}}) </p>
                    </div>
                    <img src="{% static 'img/icons/icons8-menu-vertical-50.png' %}" alt="" srcset="">
                </div>

                <div class="flex flex-btw status-grid overdue-bar" ondrop="drop(event)" ondragleave="dragLeave(event)" ondragenter="dragEnter(event)" ondragover="dragOver(event)">
                    <div class="flex-ctr-ctr ">
                        <p class="overdue-p">Overdue ({{overdue_tasks.count}}) </p>
                    </div>
                    <img src="{% static 'img/icons/icons8-menu-vertical-50.png' %}" alt="" srcset="">
                </div>
            </div>

            <!-- tasks -->
            <div class="grid three-containers-grid task-grid-container" id="task-grid-container">
                <!-- JS tasks -->
            </div>
            <p class="no-task">No Task Found</p>

        </div>

    </section>
    
</div>

{% endblock content %}

{% block js %} 
<script src="{% static '/js/tasks.js' %}"></script>
<script src="{% static '/js/drag-drop.js' %}"></script>
{% endblock js %}