{% extends 'base.html' %}
{% load static %}


{% block content %}
<div class="d-none modalbox" id="modalbox">
    {% include 'task/add-task.html' %}
</div>

<div class="pry-container">
    {% include 'sidebar.html' %}
    <section class="main-container">
        
        {% include 'top-nav.html' %}
        {% include 'bottom-nav.html' %}
    
        <!-- Tasks Status -->
        <div class="grid three-containers-grid status-grid-container">
                <div class="flex flex-btw status-grid inprogress-bar">
                    <p>In progress <span>(2)</span></p>
                    <img src="{% static 'img/icons/icons8-menu-vertical-50.png' %}" alt="" srcset="">
                </div>
                <div class="flex flex-btw status-grid completed-bar">
                    <p>Completed task <span>(4)</span></p>
                    <img src="{% static 'img/icons/icons8-menu-vertical-50.png' %}" alt="" srcset="">
                </div>
                <div class="flex flex-btw status-grid overdue-bar">
                    <p>In progress <span>(2)</span></p>
                    <img src="{% static 'img/icons/icons8-menu-vertical-50.png' %}" alt="" srcset="">
                </div>
        </div>
    
        <!-- tasks -->
        <div class="grid three-containers-grid task-grid-container">

            {% for task in tasks %}
            <div>
                <div class="grid align-ctr three-containers-grid priority-time-category">
                    <div class="priority">{{task.priority}}</div>
                    <div class="flex-ctr justify-ctr time">
                        <img src="{% static 'img/icons/icons8-time-50.png' %}" alt="" srcset="">
                        {{task.timestamp|date:"g:i a"}}
                    </div>
                    <div class="category">{{task.category}}</div>
                </div>
                <div class="task-details">
                    <div class="flex flex-btw task-title">
                        <a href="{{task.get_absolute_url}}">{{task.title}}</a>
                        <img src="{% static 'img/icons/icons8-menu-vertical-50.png' %}" alt="" srcset="">
                    </div>
                    <p class="task-desc">
                        {{task.description}}
                    </p>
                    <div class="flex-ctr task-date">
                        <img src="{% static 'img/icons/icons8-calender-64.png' %}" alt="" srcset="">
                        {{task.due_date|date:"j / y"}}
                    </div>
                    <div class="flex flex-btw users-icons">
                        <div class="relative flex profile-pix">
                            <img src="{% static 'img/profile-pic.jpg' %}" alt="" srcset="" class="cover circle">
                            <img src="{% static 'img/profile-pic.jpg' %}" alt="" srcset="" class="cover circle">
                            <img src="{% static 'img/profile-pic.jpg' %}" alt="" srcset="" class="cover circle">
                            <img src="{% static 'img/profile-pic.jpg' %}" alt="" srcset="" class="cover circle">
                        </div>
                        <div class="flex-ctr icons-div">
                            <img src="{% static 'img/icons/icons8-eye-50.png' %}" alt="" srcset="">
                            <img src="{% static 'img/icons/icons8-trash-can-100.png' %}" alt="" srcset="">
                            <a href="{{task.get_update_url}}" class="edit-task">
                                <img src="{% static 'img/icons/icons8-edit-32.png' %}" alt="" srcset="">
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            {% empty %}
            <h4>No task  added</h4>
            {% endfor %}
        </div>
    </section>
    
</div>

{% endblock content %}