{% load static %}

<!-- bottom nav -->
<div class="flex flex-btw bottom-nav">
  <div class="flex prev-filter-sort">
    <div class="flex">
      <img
        src="{% static 'img/icons/icons8-preview-100.png' %}"
        alt=""
        srcset=""
      />
      <p>Preview</p>
    </div>
    <div class="flex sort">
      <img src="{% static 'img/icons/icons8-sort-24.png' %}" alt="" srcset="" />
      <select name="sort-tasks" class="pointer" id="sortTasks" onchange="sortTasks(event)">
        <option disabled selected>Due dates</option>
        <option value="ascending">Ascending</option>
        <option value="decending">Decending</option>
      </select>
    </div>
    <div class="flex filter">
      <img
        src="{% static 'img/icons/icons8-filter-100.png' %}"
        alt=""
        srcset=""
      />
      <select name="filter" class="pointer" id="filter" onchange="filterTasks(event)">
        <option disabled selected>(Status & Priority)</option>
        <option value="in progress">in progress</option>
        <option value="completed">Completed</option>
        <option value="overdue">Overdue</option>
        <option disabled>-- Priority --</option>
        <option value="low">Low</option>
        <option value="medium">Medium</option>
        <option value="high">High</option>
      </select>
    </div>
  </div>
  <div class="flex add-profile">
    {% if user.is_authenticated %}
    <div class="relative flex profiles">
      <img
        src="{{request.user.profile.image.url}}"
        alt=""
        srcset=""
        class="cover"
      />
    </div>
    <img
      src="{% static 'img/icons/icons8-add-80.png' %}"
      alt=""
      srcset=""
      class="add-icon"
    />
    <div class="pointer add-task" id="add-task-btn" onclick="addTask()">
      <p>+ Add task</p>
    </div>
    {% endif %}
  </div>
</div>
