{% load static %}

<aside class="aside">
   <a href="{% url "task:index" %}" class="flex-ctr-ctr logo">
    <img src="{% static 'img/icons/icons8-tasks-64.png' %}" alt="" srcset="">
    Tasky
   </a>

   <ul>
    <li>
        <a href="http://" target="_blank" rel="noopener noreferrer" class="flex-ctr-ctr active">
            <img src="{% static 'img/icons/icons8-home-50.png' %}" alt="" srcset="">
        Dashboard
        </a>
        
    </li>
    <li>
        <a href="http://" class="flex-ctr-ctr">
            <img src="{% static 'img/icons/icons8-task-24.png' %}" alt="" srcset="">
        Tasks
        </a>
        
    </li>
    <li>
        <a href="http://" class="flex-ctr-ctr">
            <img src="{% static 'img/icons/icons8-business-64.png' %}" alt="" srcset="" class="">
        Calender
        </a>
    </li>
    <li>
        <a href="http://" class="flex-ctr-ctr">
            <img src="{% static 'img/icons/icons8-member-48.png' %}" alt="" srcset="" class="">
        Members
        </a>
        
    </li>
   </ul>
   <div class=" upgrade-div">
    <img src="{% static 'img/icons/rocket.svg' %}" alt="" srcset="" class="cover rocket">
   </div>
</aside>