@import "variables";

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
    // font-family: opensan-reg;
    background-color: $body-bg-clr;
    scroll-behavior: smooth;
    position: relative;
    overflow: auto;
    transition: 0.2s;
    padding: 2rem;
}

.pointer{
    cursor: pointer;
}
.grabbing{
    cursor: grabbing;
}
.n-border{
    border: none;
}
.hidden{
    visibility: hidden;
}
.n-padding{
    padding: none;
}
.modalbox {
 background-color: rgba(20, 20, 20, 0.5);
 position: fixed;
 top: 0;
 left: 0;
 width: 100%;
 height: 100%;
//  display: flex;
 flex-direction: column;
 justify-content: center;
 align-items: center;
 z-index: $medium-z;
 padding: 1.2rem;
 transition: ease-in-out 6s;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

.pry-container {
    width: 100%;
    max-width: $pry-width;
    margin: 0 auto;
    background-color: $white;
    border-radius: 10px;
}
.border-none{
    border: none;
}


// FLex
.flex{
    display: flex;
}
.flex-btw{
    justify-content: space-between;
    align-items: center;
}
.flex-ctr{
    display: flex;
    align-items: center;
}
.flex-ctr-ctr{
    display: flex;
    justify-content: center;
    align-items: center;
}
.justify-ctr{
    justify-content: center;
}

// Grid
.grid{
    display: grid;
}
.align-ctr{
    align-items: center;
}
.three-containers-grid{
    grid-template-columns: 1fr 1fr 1fr;
}
.cover{
    object-fit: cover;
}
.relative{
    position: relative;
}
.circle{
    border-radius: 50%;
}
.back-btn{
    display: inline-block;
    padding: 0.4rem;
    background-color: $drk-purple;
    color: white;
    font-size: 0.9rem;
    transition: ease-out 0.2s;
    &:hover{
        background-color: gray;
    }
}
.block{
    display: block;
}
.inline-block{
    display: inline-block;
}
.txt-ctr{
    text-align: center;
}