@import "variables";

.pry-container{
    display: grid;
    grid-template-columns: 1fr 5fr;
}
.main-container{
    padding: 1.5rem;
    padding-bottom: 0.5rem;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

// sidebar
.aside{
    position: relative;
    background-color: $light-grey;
    border: none;
    padding: 0.3rem 0 0.5rem 0.9rem;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    a.logo{
        margin-bottom: 1rem;
        color: $drk-purple;
    }
    ul{
        margin-bottom: 1rem;
    }

    li a{
        color: $drk-grey;
        border-top-left-radius: 6px;
        border-bottom-left-radius: 6px;
        text-align: center;
        padding: 1rem 0.3rem;
        margin-bottom: 0.25rem;
        gap: 0.35rem;
        font-size: 0.9rem;
        letter-spacing: 0.7;
    }
    li a.active,li a:hover{
        transition: ease-in-out 0.35s;
        color: white;
        background-color: $drk-purple;
    }
    li a img{
        width: 20px;
        height: 20px;
    }
    .upgrade-div{
        position: relative;
        display: flex;
        justify-content: center;
        bottom: 0;
    }
    .rocket{
        width: 100px;
        height: 100px;
        margin: 0 auto;
        display: inline-block;
        // margin-left: ;
    }
}
// nav bar
.search-bar-container{
    position: relative;
    img{
        position: absolute;
        left: 6px;
        top: 4px;
        width: 18px;
        height: 18px;
    }
    .search-tasks{
        background-color: $light-grey;
        color: $drk-grey;
        border: none;
        border-radius: 5px;
        padding: 6px 4px 6px 30px;
       outline: none;
    }
    .search-tasks:focus{
         outline: 1.2px solid $drk-purple;
         color: black;
         background-color: white;
    }
}

.notification-icons{
    align-items: center;
    gap: 10px;
    img{
        width: 18px;
        height: 18px;
    }
    .profile-pic{
        border-radius: 50%;
        object-fit: cover;
        width: 22px;
        height: 22px;
    }
    .auth-btn{
        background-color: $red-clr;
        color: white;
        padding: 0.3rem 0.5rem;
        border-radius: 5px;
        letter-spacing: 0.6;
        font-size: 0.9rem;
        transition: ease-in-out 0.2s;
        &:hover{
            background-color: $drk-grey;
        }
    }
    .login-btn{
        background-color: $drk-purple;
    }
}

// bottom nav
.bottom-nav{
    margin: 3rem 0;
    align-items: center;
    .prev-filter-sort{
        gap: 6px;
        img{
            width: 14px;
            height: 14px;
        }
    }
    .prev-filter-sort div{
        padding: 5px 9px;
        font-size: 0.72rem;
        border: 0.8px solid $drk-grey;
        border-radius: 4px;
        align-items: center;
        gap: 5px;
        select{
            outline: none;
            border: none;
        }
    }
    
    .detail-bottom-nav .del-btn,
    .detail-bottom-nav a{
        padding: 0.4rem;
        color: white;
        font-size: 0.85rem;
        transition: ease-out 0.2s;
        &:hover{
            background-color: gray;
            color: white;
        }
    }
    .detail-bottom-nav .update-btn{
        background-color: $drk-purple;
        color: white;
    }
    .detail-bottom-nav .del-btn{
        background-color: $light-red;
        color: rgb(129, 9, 9);
    }

    .add-profile{
        gap: 10px;
        align-items: center;
        .profiles{
            align-items: center;
            img{
                width: 21px;
                height: 21px;
                border-radius: 50px;
            }
        }
        .add-icon{
            width: 24px;
            height: 24px;
        }
    }
    
    .add-task{
        background-color: $drk-purple;
        color: white;
        font-size: 0.9rem;
        border-radius: 4px;
        padding: 9px 9px;
    }
}
.notification-icons{
    gap: 6px;
}

.prev-filter-sort{
    gap: 0.5rem;
}

// select boxes
.status-grid-container{
    margin-bottom: 1rem;
    .status-grid{
        background-color: $white;
        padding: 0.4rem;
        border-radius: 4px;
        border: 1px solid $drk-purple;
        font-size: 0.8rem;
    }
    .status-grid img{
        width: 15px;
        height: 15px;
    }
}
.status-grid-container,.task-grid-container{
    gap: 1.8rem;
}

// Fetch error
.fetch-error{
    color: red;
    letter-spacing: 0.3;
    padding: 0.4rem 0;
    // margin: 0;
}

// task grids 
.task-grid-container{
    
    .priority-time-category {
        gap: 0.8rem;
        margin-bottom: 0.5rem;
        div{
            font-size: 0.7rem;
            padding: 5px;
            background-color: $light-grey;
            color: purple;
            border: none;
            border-radius: 4px;
            text-align: center;
        }
        .priority{
            background-color: $light-red;
            color: #802525;
        }
        .time{
            background-color: white;
            color: $drk-purple;
            gap: 5px;
            box-shadow: 2px 3px rgba(131, 131, 131,0.3);
            img{
                width: 15px;
                height: 15px;
            }
        }
    }
    .task-details{
        background-color: $light-grey;
        padding: 8px 6px;
        border-radius: 4px;
        h4{
            font-weight: lighter;
            font-size: 0.9rem;
            color: black;
        }
        .task-desc{
            color: $drk-grey;
            font-size: 0.8rem;
            letter-spacing: 0.4;
            margin: 0.5rem 0;
        }
        .task-title img{
            width: 14px;
            height: 14px;
        }
        .task-date{
            border: 1px solid rgba(128, 128, 128,0.4);
            background-color: $white;
            border-radius: 4px;
            padding: 2px 4px;
            width: fit-content;
            font-size: 0.8rem;
            letter-spacing: 0.5;
            gap: 5px;
            img{
                width: 14px;
                height: 14px;
            }
        }

        .users-icons{
            margin-top: 13px;
            .profile-pix img{
                width: 23px;
                height: 23px;
            }
            .icons-div {
                gap: 5px;
                img{
                    width: 20;
                    height: 20;
                }
            }
        }
    }
}

// add task page
.add-task-container{
    background-color: white;
    width: 100%;
    max-width: 1000px;
    z-index: $highest-z;
    padding: 1rem;
    border-radius: 10px;
    .btn-container{
        gap: 1rem;
        button{
            padding: 0.5rem 0.7rem;
            border-radius: 2px;
            border: none;
            letter-spacing: 0.6;
            color: white;
            font-size: 1rem;
            cursor: pointer;
            transition: 0.3s ease-out;
        }
        .submit-btn{
            background-color: $fb-clr;
            &:hover{
                background-color: skyblue;
            }
        }
        .cancel-btn{
            background-color: $red-clr;
            &:hover{
                background-color: $light-red;
            }
        }
    }
    select{
        cursor: pointer;
    }

    input,select,textarea{
        display: block;
        width: 100%;
        padding: 0.4rem 0.4rem;
        outline: none;
        border: 1px solid rgba(128, 128, 128,0.4);
        border-radius: 7px;
        &:focus{
            border: 1px solid $drk-purple;
        }
    }
    label{
        cursor: pointer;
        display: inline-block;
        padding: 0.2rem 0;
        border: none;
        color: $drk-grey;
        &:hover{
        color: $drk-purple;
        }
    }
    .form-grid-2{
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    .form-grid-3{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }
    .form-grid-2,.form-grid-3{
        gap: 2rem;
    }
    .input-container{
        padding: 0.3rem 0;
        margin-bottom: 0.7rem;
        
    }

}

// delete task
.delete-task-container{
    width: fit-content;
    padding: 1rem;
    .confirmation-container{
        margin-top: 0.4rem;
        gap: 0.5rem;
    }
    .task-title{
        padding: 0.5rem;
        border-radius: 5px;
        font-size: 0.85rem;
        display: inline-block;
        color: rgb(124, 13, 13);
        background-color: $light-red;
    }
    .cancelBtn,
    .del-task-link{
        padding: 0.5rem;
        color: rgb(124, 13, 13);
        background-color: $light-red;
        border: none;
        transition: ease-out 0.2s;
        color: rgb(124, 13, 13);
        &:hover{
            background-color: grey;
            color: white;
        }
    }
    .cancelBtn{
        background-color: $drk-grey;
        color: white;
    }
}

// Task details page
.task-details-container{
    .task-details{
        font-size: 0.9rem;
        p{
            margin-bottom: 0.9rem;
        }
        span{
            font-size: 0.8rem;
            padding: 0.25rem 0.4rem;
            background-color: gray;
            color: white;
            border-radius: 4px;
        }
        .task-priority span{
            background-color: $light-red;
            color: rgb(107, 10, 10);
        }
        .task-status span{
            background-color: $drk-purple;
            // color: rgb(107, 10, 10);
        }
    }
    .task-desc{
        padding-top: 0.4rem;
        margin: 0.4rem 0;
        // border-radius: 5px;
        border-top: 1px solid rgba(107, 106, 106,0.4);
    }
}

.d-none{
    display: none;
}
.d-block{
    display: block;
}