$body-bg-clr : #6c84de;
$light-grey: #e4e4e4;
$drk-grey: #756e6e;
$white: #ffffff;
$light-red: #ffd1d1;
$light-brown: #fcd0a1;
$dark-brown: #ebaf71;
$blue-green: #addae1;
$sharp-green: #87ca83;
$pry-color : #212529;
$drk-purple : #3a37e6;
$sec-color : #6c757d;
$high-z : 30;
$medium-z : 30;
$highest-z : 90;
$light-red :#ffd0d0;
$pry-width : 1400px;
$blue: rgb(26, 115, 232);
$overblue: rgb(28, 90, 170);
$fb-clr: #4c63a2;
$red-clr:#f6214b;